EXPO_PUBLIC_BASE_URL=http://14.4.247.100:8080/

IMAGE_BASE_URL=https://animores-image.s3.ap-northeast-2.amazonaws.com

GOOGLE_CLIENT_ID=your_google_client_id_here


KAKAO_APP_KEY=your_kakao_app_key_here

FIREBASE_API_KEY=your_firebase_api_key_here
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
FIREBASE_PROJECT_ID=your_firebase_project_id_here
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id_here
FIREBASE_APP_ID=your_firebase_app_id_here
FIREBASE_MEASUREMENT_ID=your_firebase_measurement_id_here
